[submodule "projects/CSharpToDoList"]
	path = projects/CSharpToDoList
	url = https://github.com/titansrule3035/CSharpToDoList.git
[submodule "projects/CSharpCalculatorUI"]
	path = projects/CSharpCalculatorUI
	url = https://github.com/titansrule3035/CSharpCalculatorUI.git
[submodule "projects/unity-c-sharp-inventory-system-test"]
	path = projects/unity-c-sharp-inventory-system-test
	url = https://github.com/titansrule3035/unity-c-sharp-inventory-system-test.git
[submodule "projects/Py-Prox"]
	path = projects/Py-Prox
	url = https://github.com/titansrule3035/Py-Prox.git
[submodule "projects/StringToBin"]
	path = projects/StringToBin
	url = https://github.com/titansrule3035/StringToBin.git
